@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
:root{
    --white: hsl(0, 100%, 100%);
    --grey1: hsl(0, 0%, 94%);
    --grey2: hsl(0, 0%, 86%);
    --grey5: hsl(0, 1%, 44%);
    --black: hsl(0, 0%, 0%);
    --purple5: hsl(259, 100%, 65%);
    --red4: hsl(0, 100%, 67%);
}
body{
    margin: 0;
    background-color: var(--grey2);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.card{
    margin-block: 5rem;
    background-color: var(--white);
    width: calc(clamp(20rem,92vw,28rem) - 3rem);
    min-height: 26rem;
    border-radius: 1.5rem 1.5rem 6rem 1.5rem;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    font-size: 0.8rem;
    color: var(--grey5);
    font-family: 'Poppins',sans-serif;
}
form{
    height: 11rem;
}
.whole{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.subwhole{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.group{
    width: 28%;
}
label{
    font-weight: 700;
}
label.error{
    color: var(--red4);
}
input{
    width: calc(90% - 1rem);
    height: 2rem;
    display: inline-block;
    font-weight: 800;
    color: var(--black);
    border-radius: 0.5rem;
    border: 1px solid var(--grey2);
    padding-inline-start: 1rem;
    cursor: pointer;
    caret-color: var(--purple5);
    font-family: 'Poppins',sans-serif;
}
input:hover{
    border-color: var(--purple5);
}
input:focus{
    outline: 1px solid var(--purple5);
}
input.error{
    border-color: var(--red4);
}
button{
    background-color: var(--purple5);
    margin-inline: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-image: url(assets/images/icon-arrow.svg);
    background-position: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid var(--purple5);
    z-index: 1;
    cursor: pointer;
}
button:hover{
    background-color: var(--black);
    border-color: var(--black);
}
button:focus{
    outline: 1px solid var(--purple5);
    background-color: var(--purple5);
    border: 1px solid var(--purple5)
}
hr{
    color: var(--grey1);
    transform: translateY(-25px);
    z-index: -1;
    opacity: 0.5;
    margin: 0;
}
.output{
    width: 100%;
    height: 13rem;
}
.output p{
    font-size: 3rem;
    margin: 0;
    font-weight: 800;
    color: var(--black);
}
.output p span{
    color: var(--purple5);
}
@media (min-width:50rem) {
    .card{
        width: 46rem;
        height: 32rem;
        border-radius: 1.5rem 1.5rem 12rem 1.5rem;
    }
    form{
        height: 12rem;
        position: relative;
    }
    .whole{
        align-items: flex-start;
    }
    .subwhole{
        width: 75%;
    }
    .group{
        width: 30%;
        height: 6rem;
    }
    input{
        height: 3.5rem;
        font-size: 2rem;
        width: calc(85% - 1rem);
        margin-block: 1rem;
    }
    button{
        width:6rem;
        height: 6rem;
        position: absolute;
        right: 0px;
        top: 7rem;
    }
    .output{
        height: 18rem;
    }
    .output p{  
        font-size: 4rem;
    }
}
